# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Rust / Setup
src-tauri/target/
src-tauri/Cargo.lock

# Build Dist
dist/
dist-ssr/

# Editor / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
